header{
    height: 110vh;
    padding-top: 7rem;
    overflow: hidden;
}
.header__container{
    text-align: center;
    /* margin: 0 auto; */
    height: 100%;
    /* position: relative; */
    
}
.header__container>h5{
    animation: textChange 1s linear infinite;
}
@keyframes textChange {
    0%{
        color: white;
    }
    50%{
        color: var(--color-primary);
    }
    100%{
        color: white;
    }
}
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
}
.header__socials{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    left: 5rem;
    bottom: 3.5rem;
}
.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}
.me{
    background: linear-gradient(transparent, var(--color-primary), transparent);
    width: 22rem;
    /* height: 30rem; */
    height: 60vh;
    /* height: auto; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3.5rem;
    border-radius: 0.5rem 12rem 0 0;
    overflow: hidden;
    padding: 0rem 1.5rem 1rem 1.5rem;
}
.me img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.scroll__down{
    position: absolute;
    right: 3.1rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* Responsive */
@media screen and (max-width:1024px) {
    header{
        height: 100vh;
    }
}
@media screen and (max-width:600px) {
    header{
        height: 100vh;
    }
    .header__socials,.scroll__down{
        display: none;
    }
}